<!--
Body Selection
http://www.menucool.com/vertical/vertical-menu-
->
<!-- Sidebar ================================================== -->
<div id="sidebar" class="span3">
    <div class="well well-small">
        <ul class="nav nav-tabs nav-stacked">

                    <li><a href="{{ path('userpanel_show') }}"><i class="icon-chevron-right"></i>Bilgilerim</a></li>
                    <li><a href="{{ path('userpanel_edit') }}"><i class="icon-chevron-right"></i>Düzenle</a></li>
                    <li><a href="{{ path('orders_index') }}"><i class="icon-chevron-right"></i>Siparişlerim</a></li>
                    <li><a href="{{ path('shopcart_index') }}"><i class="icon-chevron-right"></i>Sepetim</a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Favori Ürünlerim</a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Sipariş Geçmişi</a></li>
                    <li><a href="products.html"><i class="icon-chevron-right"></i>Yorumlarım</a></li>
                    <li style="..."></li>
                    <li><a href="{{ path('app_logout') }}"></a>Exit </li>

        </ul>

    </div>

</div>
<!-- Sidebar end=============================================== -->