

<div class="well well-small">
    <h2>{{ data[0].title }}</h2>
    <ul class="thumbnails">

        {% for rs in products %}

            <li class="span3">
                <div class="thumbnail">
                    <a href="product_details.html"><img src="{{ asset('uploads') }}/images/{{ rs.image }}" alt=""></a>
                    <div class="caption">
                        <p>{{ rs.title }}</p>
                        <p><strong>{{ rs.sprice }}</strong></p>
                        <h4 style="text-align:center">
                            <a class="btn" href="{{ path('product_detail',{'id':rs.id}) }}"> <i class="icon-zoom-in"></i></a>


                    </div>
                </div>
            </li>
        {% endfor    %}

    </ul>
</div>

</div>
</div>
</div>
</div>