{% extends 'adminbase.html.twig' %}

{% block title %}Order Detail{% endblock %}
{% block content %}
<body class="">
<h4>Orders</h4>
<div class="well">

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ order.userid }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ order.amount }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ order.name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ order.address }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ order.city }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ order.phone }}</td>
            </tr>

            <form action="{{ path('admin_orders_update',{'id': order.id}) }}"method="post">
                <tr>
                    <th>Shipinfo</th>
                    <td><textarea name="shipinfo"cols="100"rows="3">{{ order.shipinfo }}</textarea> </td>
                </tr>

                <tr>
                    <td>Admin Note</td>
                    <td><textarea name="note"cols="100"rows="3">{{ order.note }}</textarea> </td>
                </tr>


                <tr>
                    <th>Status</th>
                    <td><select name="status">
                            <option>{{ order.status }}</option>
                            <option>Accepted</option>
                            <option>InShipping</option>
                            <option>Cancelled</option>
                            <option>Accepted</option>
                        </select>
                        <input type="submit"value="Guncelle">
                    </td>
                </tr>
            </form>

            </tbody>
        </table>


        <table class="table">
            <thead>
                <th>Id</th>
                <th>Product Name</th>
                <th>Sale Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Status</th>
            </thead>
            <tbody>
            {% set total=0 %}
            {% for rs in orderdetail %}
                <tr>
                    <td>{{ rs.id }}</td>
                    <td>{{ rs.name }}</td>
                    <td>{{ rs.price }}</td>
                    <td>{{ rs.quantity }}</td>
                    <td>{{ rs.amount }}</td>
                    <td>{{ rs.status }}</td>
                </tr>
            {% else %}
            <tr>
                <td colspan="5">Order Detail</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="5"><b>Toplam Alışveriş Tutarı :{{ order.amount }} TL</b><br>

                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

</body>
{% endblock %}
