{% extends 'adminbase.html.twig' %}

{% block title %}Product Listesi{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Table</h4> </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Dashboard</a></li>
                        <li class="active">Blank Page</li>
                    </ol>
                </div>
            </div>
            <div class="white-box">

                <section class="box-title">
                    <h1 class="box-title">Product Listesi</h1>
                    <h1>
                        <small><a href="{{ path('admin_product_new') }}"class="box-title">Product Ekleme</a></small>
                    </h1>
                </section>

                <div class="table-responsive">
                    <tbody>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Amount</th>
                            <th>Pprice</th>
                            <th>Sprice</th>
                            <th>Min</th>
                            <th>Image</th>
                            <th>Galeri</th>
                            <th>Category_id</th>
                            <th>User_id</th>
                            <th>Status</th>
                            <th>Goster</th>
                            <th>Duzenle</th>
                            <th>Sil</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td>{{ product.id }}</td>
                                <td>{{ product.title }}</td>
                                <td>{{ product.amount }}</td>
                                <td>{{ product.pprice }}</td>
                                <td>{{ product.sprice }}</td>
                                <td>{{ product.min }}</td>

                                <td>
                                    <a href="javascript:openWin('{{ path('admin_product_iedit', {'id': product.id}) }}','','toolbar=no,location=no,directories=0,status=no,top=100,left=200,menuBar=no,scrollsBars=no,resizable=no,width=600,height=500');">
                                        {% if product.image==null %}
                                            <img src="{{ url('admin') }}/img/image.png"height="32">
                                        {% else %}
                                            <img src="{{ asset('uploads') }}/images/{{ product.image }}"height="40">
                                            <!-- {{ product.image }} resmin yanında id yazmak istersek-->
                                        {% endif %}
                                    </a>
                                </td>

                                <td>
                                    <a href="javascript:openWin('{{ path('admin_image_new', {'pid': product.id}) }}','','toolbar=no,location=no,directories=0,status=no,top=100,left=200,menuBar=no,scrollsBars=no,resizable=no,width=1000,height=800');">
                                        <img src="{{ url('admin') }}/img/gallery.png"height="32">
                                    </a>
                                </td>
                                <td>{{ product.categoryId }}</td>
                                <td>{{ product.status }}</td>


                                <td>
                                    <a href="{{ path('admin_product_show', {'id': product.id}) }}"class="btn btn-success">Goster</a>
                                </td><td>
                                    <a href="{{ path('admin_product_edit', {'id': product.id}) }}"class="btn btn-danger btn-block waves-effect waves-light">Duzenle</a>
                                </td><td>{{ include('admin/product/_delete_form.html.twig') }}
                                </td>

                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="18">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <a href="{{ path('admin_product_new') }}"class="btn btn-success">Create new</a>
                </div>
            </div>
        </div>
        <footer class="footer text-center"> İsa Kulaksız 2014010217045 Bilg Müh 2.Öğr (%100) </footer>
    </div>
    <!-- End Page Content -->
{% endblock %}
